h1{
    text-align: center;
    color: red;
    text-decoration: black underline;
    line-height: 0.1;
}
h2{
    color: rgb(29, 39, 36);
    font-weight: normal;
    text-decoration:wavy underline;
    line-height: 0.1;
}

a{
    text-decoration: None;
}

p{
    color: maroon;
    letter-spacing: normal;
}